<!-- ======= Skills  ======= -->
<div class="skills_section">
  <div class="section-title">
    <h2>Skills</h2>
    <p>Learn more about my skills</p>
  </div>

  <div class="skills_main">
    <div class="skill_bar">
      <div class="info">
        <p>HTML</p>
        <P>90%</P>
      </div>
      <div class="bar">
        <span class="html"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>CSS</p>
        <P>85%</P>
      </div>
      <div class="bar">
        <span class="css"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Python</p>
        <P>80%</P>
      </div>
      <div class="bar">
        <span class="sass"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Java Script</p>
        <P>60%</P>
      </div>
      <div class="bar">
        <span class="js"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Angular</p>
        <P>75%</P>
      </div>
      <div class="bar">
        <span class="react"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Node js</p>
        <P>70%</P>
      </div>
      <div class="bar">
        <span class="node"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Express js</p>
        <P>65%</P>
      </div>
      <div class="bar">
        <span class="express"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Mongo DB</p>
        <P>60%</P>
      </div>
      <div class="bar">
        <span class="mongo"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>WordPress</p>
        <P>75%</P>
      </div>
      <div class="bar">
        <span class="mongo"></span>
      </div>
    </div>
    <div class="skill_bar">
      <div class="info">
        <p>Flutter</p>
        <P>60%</P>
      </div>
      <div class="bar">
        <span class="mongo"></span>
      </div>
    </div>
    <div class="skill_bar">
        <div class="info">
          <p>Docker</p>
          <P>55%</P>
        </div>
        <div class="bar">
          <span class="mongo"></span>
        </div>
      </div>
      <div class="skill_bar">
        <div class="info">
          <p>Firebase</p>
          <P>80%</P>
        </div>
        <div class="bar">
          <span class="mongo"></span>
        </div>
      </div>
      <div class="skill_bar">
        <div class="info">
          <p>Photoshop</p>
          <P>80%</P>
        </div>
        <div class="bar">
          <span class="mongo"></span>
        </div>
      </div>
      <div class="skill_bar">
        <div class="info">
          <p>Illustrator</p>
          <P>75%</P>
        </div>
        <div class="bar">
          <span class="mongo"></span>
        </div>
      </div>
  </div>
</div>
<!-- End Skills -->
