<div class="about-me container">
  <div class="section-title">
    <h2>About</h2>
    <p>Learn more about me</p>
  </div>
  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="assets/img/Ayman.png" class="img-fluid" alt="" />
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>Web & Mobile Developer &amp; DevOps Engineer</h3>
      <p class="fst-italic">
        Feel free to contact me if you have any inquiries or if you're
        interested in collaborating on a project. Looking forward to connecting
        and creating amazing solutions together!
      </p>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
              <span>28 September 2000</span>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>University :</strong>
              <span>ENET'COM</span>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
              <span>+216 44 140 620</span>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>City:</strong>
              <span>Sfax , Tunisia</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
              <span>23</span>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
              <span>Telecommunications engineer (BAC +5) </span>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>Email:</strong>
              <span>aymanbejaoui0@gmail.com</span>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
              <span>Available</span>
            </li>
          </ul>
        </div>
      </div>
      <p>
        I'm available for freelance opportunities and have a strong background
        in officiis eligendi, labore et dolorum mollitia, officiis optio vero.
        I'm skilled in various technologies and tools, ensuring efficient and
        reliable development and deployment processes.
      </p>
    </div>
  </div>
</div>
<!-- End About Me -->

<!-- ======= Interests ======= -->
<div class="interests container">
  <div class="section-title">
    <h2>Interests</h2>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="icon-box">
        <i class="ri-football-fill" style="color: #5578ff"></i>
        <h3>Sport</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="ri-paint-brush-line" style="color: #e361ff"></i>
        <h3>Design</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="ri-camera-line" style="color: #ffa76e"></i>
        <h3>Photography</h3>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="ri-disc-line" style="color: #b20969"></i>
        <h3>Music</h3>
      </div>
    </div>
  </div>
</div>
<!-- End Interests -->
