<!-- ======= Header ======= -->
<div class="container">
    <div class="row">
      <div class="col-lg-8">
        <header id="home">
           <div class="container">
          <h3>Hello I'am</h3>
          <h1>Ayman Bejaoui</h1>
      
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- animated-text.component.html -->
          <div class="wrapper">
            <div class="static-txt">I'm a</div>
            <ul class="dynamic-txts">
              <li><span>Web Developer</span></li>
              <li><span>Mobile Developer</span></li>
              <li><span>Graphic Designer</span></li>
              <li><span>DevOps Engineer</span></li>
            </ul>
          </div>
          <h3>Welcome to my world ! </h3>
      
          <div class="social-links">
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        </header>
      </div>
      <div style="margin-left: -10%; margin-top:4%;"  class="col-lg-4" data-aos="fade-right">
        <img  src="assets/img/Ayman.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>




<!-- End Header -->
