<!-- ======= Services Section ======= -->
<div class="container">
  <div class="section-title">
    <h2>Services</h2>
    <p>My Services</p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="icon-box">
        <div class="icon"><i class="ri-html5-fill"></i></div>
        <h4>Web Development</h4>
        <p>
          Web development builds and maintains websites for a seamless online
          experience
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="icon-box">
        <div class="icon"><i class="ri-smartphone-line"></i></div>
        <h4>Mobile Development</h4>
        <p>
          Mobile development crafts apps for smartphones, enhancing user
          experiences on the go
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="icon-box">
        <div class="icon"><i class="ri-code-box-line"></i></div>
        <h4>DevOps</h4>
        <p>
          DevOps streamlines software development and IT operations, fostering
          collaboration for efficient and continuous delivery
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="ri-palette-line"></i></div>
        <h4>Graphic Design</h4>
        <p>
          Graphic design communicates ideas visually, blending creativity and
          aesthetics to convey compelling messages
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-slideshow"></i></div>
        <h4>Video montage</h4>
        <p>
          Video montage creatively assembles clips to tell a compelling visual
          story
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="ri-camera-line"></i></div>
        <h4>Photography</h4>
        <p>
          Photography captures moments in time, transforming scenes into
          powerful visual narratives
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Services Section -->
