  <!-- ======= Resume Section ======= -->

    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Ayman Bejaoui</h4>
            <p><em>I am currently pursuing my engineering studies in telecommunications engineering at ENETCOM, and I have a deep passion for design and development, whether it is the web or the creation of mobile applications.</em></p>
            <p>
            <ul>
              <li>Sfax , Tunisia</li>
              <li>(+216) 44 140 620</li>
              <li>aymanbejaoui0@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Telecommunications Engineering Engineer (GT)</h4>
            <h5>2021 - 2024</h5>
            <p><em>ENET’COM :  National School of Electronics and Telecommunications of Sfax</em></p>
          </div>
          <div class="resume-item">
            <h4>Preparatory cycle for engineering studies (PC)</h4>
            <h5>2018 - 2020</h5>
            <p><em>Preparatory Institute for Engineering Studies of Sfax</em></p>
          </div>
          <div class="resume-item">
            <h4>Bachelor's degree in experimental sciences</h4>
            <h5>2015- 2019</h5>
            <p><em>High School November 15, 1955 Sfax</em></p>
          </div>
          <h3 class="resume-title">Associative Experiences</h3>
          <div class="resume-item">
            <h4>Senior member in the Marketing and Project process within the club ENET'COM JUNIOR ENTREPRISE ( ECJE )</h4>
            <h5>2021 - 2024</h5>
            <p><em>ENET’COM :  National School of Electronics and Telecommunications of Sfax</em></p>
          </div>
          <h3 class="resume-title">Languages</h3>
          <div class="resume-item">
            <ul>
                <li>Arabic : Native</li>
                <li>French : Conversational</li>
                <li>English : Conversational</li>
              </ul>
          </div>
          
        </div>
        
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Mobile Development Intern : Flutter</h4>
            <h5>July 2023 to August 2023</h5>
            <p><em>MTD Group</em></p>
            <p>
            <ul>
              <li>Design and creation of a mobile application : This medical application offers doctors the opportunity to register and connect to access a drug database. The application includes an administration panel to manage medications.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Web development intern: Wordpress</h4>
            <h5>June 2022 to July 2022</h5>
            <p><em>MTD Group</em></p>
            <p>
            <ul>
              <li>Creation of static and dynamic websites according to customer requirements.</li>
              <li>Optimization of cross-platform compatibility of various websites.</li>
              <li>Integration of information from multiple websites into the database.</li>
            </ul>
          </div>
          <h3 class="resume-title">Projects</h3>
          <div class="resume-item">
            <h4>Year-end project : MEAN Stack</h4>
            <h5>January 2023 to May 2023 </h5>
            <p><em>ENET'COM</em></p>
            <p>
            <ul>
              <li>Design and development of a dynamic online platform for members of the "M Club" gym. This platform improves their experience by providing quick access to 
                information and services in the room.</li>

                <li>This website contains a dynamic content management system for the gym. 
Administrators can manage different features. In addition, members benefit from easy navigation thanks to a user-friendly interface for quickly access the information you need.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>E_commerce website : HTML , CSS , JS , PHP</h4>
            <h5>November 2021 to April 2022</h5>
            <p><em>ENET’COM JUNIOR ENTREPRISE Club</em></p>
            <p>
            <ul>
              <li>Design and development of a dynamic e-commerce website for a company 
                specializing in the sale of electronics. This site must also include an administration interface allowing the administrator to manage all the facets of the site through a 
                dedicated dashboard. </li>
            </ul>
          </div>
        </div>
        </div>
        

        
      

    </div>
<!-- End Resume Section -->